[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
kaleido = "*"

[dev-packages]
jupyterlab = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.9"
